---
import ExperienceList from "../components/ExperienceList.vue";
---

<Layout title="Experiencia | Mi Portafolio" lang="es">
  <main class="container mx-auto text-center p-10">
    <ExperienceList />
  </main>
</Layout>
